@model IEnumerable<Funcion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idioma)
            </th>
            <th>
                Pelicula
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sala)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idioma)
                </td>
                <td>
                    @item.fPelicula?.Titulo 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FuncionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FuncionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FuncionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
